// Use bourbon
@import "bower_components/bourbon/dist/bourbon";
@import "bower_components/modularized-normalize-scss/normalize";

// Reset
* { margin: 0; padding: 0; }
img { display: block; }
a { color: inherit; text-decoration: none; }

@import "helpers/to-string";

@import "mixins/debug";
@import "mixins/when";
@import "mixins/pseudos";
@import "mixins/grid";
@import "mixins/vr";
@import "mixins/type";
@import "mixins/bar";
@import "mixins/ratio";
@import "mixins/wrapper";
@import "mixins/theme";
@import "mixins/underlined";
@import "mixins/sticky-footer";
@import "mixins/stretch";

%ir {
  text-indent: 100%;
  overflow: hidden;
  white-space: nowrap;
}