// TODO support for break points

@mixin bar($element: 'item', $fixed: true, $vertical-align: top) {
  display: table;
  width: 100%;
  table-layout: if($fixed, fixed, auto);
  &__#{$element} {
    display: table-cell;
    text-align: left;
    vertical-align: $vertical-align;
    &--main { text-align: center; }
    &--aux { text-align: right; }
  }
}