/* 
  Ratio Mixin
  -----------
  A mixin for basing an elements height on its width via a ratio. Useful for responsive elements where the width could changed.

  Arguments:
  ----------
  $ratio: (width height)
    - Aspect ratio e.g. (16 9), (4 3)

  Example SCSS:
  -------------
  .video {
    @include ratio(16 9);
  }

*/

@mixin ratio($ratio: 1 1) {
  height: 0;
  $padding: 0;
  @if $ratio == square {
    $padding: 100%;
  } @else {
    @if length($ratio) < 2 or length($ratio) > 2 {
      @warn "Please pass two values for the ratio mixin";
    }
    $padding: percentage(nth($ratio, 2) / nth($ratio, 1));
  }
  padding-bottom: $padding;
}