$themes: ();

a { color: inherit; text-decoration: none; }

* {
  border-color: inherit;
  background-color: inherit;
  color: inherit;
}

@mixin hover($pseudo-anchor-class: 'hit') {
  a:hover &,
  & a:hover,
  & .#{$pseudo-anchor-class}:hover,
  .#{$pseudo-anchor-class}:hover & {
    @content;
    @include pseudos {
      @content;
    }
  }
}

@mixin active-class($class: active, $pseudo-anchor-class: 'hit') {
  a.#{$class} &,
  & a.#{$class},
  & .#{$pseudo-anchor-class}.#{$class},
  .#{$pseudo-anchor-class}.#{$class} & {
    @content;
    @include pseudos {
      @content;
    }
  }
}
@mixin active {
  @include active-class(active) {
    @content;
  }
}
@mixin current {
  @include active-class(current) {
    @content;
  }
}

